/* error.css  */
#error-message {
  display: none;
  background-color: #ffcccc;
  border: 1px solid #ff0000;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  text-align: center;
  color: #ff0000;
  margin-bottom: 8px;
}

.error-container {
  display: flex;
  flex-direction: column;
}

