/* nav.css */
nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-page {
  font-family: 'Bungee', sans-serif;
  font-size: 2.50em;
}

.nav-right {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

nav .right-nav:hover {
  font-size: 1.1em;
  cursor: pointer;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav .new {
  font-size: 1.25em;
}


/* Define the animation with a name */
@keyframes MoveUpDown {
  from, to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Apply the animation to child <i> elements of <nav> */
nav i {
  color: rgb(243, 16, 16);
  animation: MoveUpDown 2s linear infinite;
}

/* Apply the animation to elements with the .bounce class */
.bounce {
  animation: MoveUpDown 1s linear infinite;
}

.fa-angle-double-down {
  font-size: 1.2em;
  color: #FFFFFF;
  margin-top: 2px;
}


