/* new-tweet.css  */
/* Styles for the container of a new tweet */

.tweets-container {
width: 90%;
margin: 0 auto;
}

.tweet {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 20px;
}

.tweet h2 {
font-size: 24px;
margin-bottom: 10px;
}

.tweet p {
font-size: 18px;
}

.new-tweet-container {
width: 90%;
margin: 0 auto;
}

.new-tweet {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 20px;
}

.new-tweet h2 {
font-size: 24px;
margin-bottom: 10px;
}

.new-tweet form {
display: flex;
flex-direction: column;
width: 100%;
}

.new-tweet label {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

.new-tweet textarea {
height: 100px;
width: 100%;
margin-bottom: 10px;
padding: 5px;
font-size: 18px;
border-radius: 5px;
border: 1px solid #ccc;
resize: vertical;
}

.new-tweet div {
display: flex;
justify-content: space-between;
}

.new-tweet button {
background-color: #032634;
color: #fff;
font-size: 18px;
font-weight: bold;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
}

.new-tweet button:hover {
background-color: #012538;
}

.new-tweet .counter {
font-size: 20px;
color: #0c0570;
margin-top: 5px;
font-weight: bold;
}

.new-tweet .counter.counterUnderLimit {
font-size: 20px;
color: #130675;
font-weight: bold;
}

.new-tweet .counter.counterOverLimit {
font-size: 20px;
color: red;
font-weight: bold;
}

.tweet-wrapper {
display: flex;
flex-direction: column-reverse;
}